<!DOCTYPE html>
<html lang="en">
<head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Name Form</title>
</head>

<style>
.navbar-dark .navbar-nav .nav-link {
  color: #16e5dd; /* Replace #da0f0f with the desired color code */
}

.navbar-dark .navbar-nav .active .nav-link {
  color: #faf7f7; /* Replace #da0f0f with the desired color code */
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #f0f0f0; /* Replace #f0f0f0 with the desired hover color code */}

.navbar-brand{
color: white;
}


</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark" style= "background-color: #1f2937;">
    <a class="navbar-brand" href="#">
      <img src="https://user-images.githubusercontent.com/94471189/193782622-db0071f8-122e-4909-83a8-fe5da257febc.png" width="30" height="30" alt="Logo">Text-Formatter
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto" style="margin-right: 40px;"> <!-- Add ml-auto class here -->
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- Example single danger button -->
        <div class="btn-group dropleft">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            action
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#">remove punctuations</a>
            <a class="dropdown-item" href="{% url 'capi' %}">capitalise</a>
            <a class="dropdown-item" href="#">lower cased</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'name-form' %}">Make a name card😍</a>
          </div>
        </div>
        <li class="nav-item">
          <a class="nav-link " href="#">About</a>
        </li>
      </ul>
    </div>
  </nav>
  <h2>Enter Your Information</h2>
  <form method="get" action="/carder">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name"><br><br>
      <label for="job">Job:</label>
      <input type="text" id="job" name="job"><br><br>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email"><br><br>
      <label for="phone">Phone No:</label>
      <input type="tel" id="phone" name="phone"><br><br>
      <label for="hobby">Hobby:</label>
      <input type="text" id="hobby" name="hobby"><br><br>
      <label for="college">College Name:</label>
      <input type="text" id="college" name="college"><br><br>
      <label for="facebook">Facebook:</label>
      <input type="url" id="facebook" name="facebook"><br><br>
      <label for="twitter">Twitter:</label>
      <input type="url" id="twitter" name="twitter"><br><br>
      <label for="instagram">Instagram:</label>
      <input type="url" id="instagram" name="instagram"><br><br>
      <input type="submit" value="Submit">
  </form>
</body>
</html>